@font-face {
  font-family: 'icon';
  src: url('../fons/iconfont.eot');
  src: url('../fons/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fons/iconfont.woff') format('woff'),
  url('../fons/iconfont.ttf') format('truetype'),
  url('../fons/iconfont.svg#iconfont') format('svg');
}


html,body{
  width:100%;
  height: 100%;
  background-color: #f5f5f5;
}
.content{
  widht:100%;
  height: 100%;
}
/* stage start*/
 .stage{
   position:relative;
   width:100%;
   height:100%;

 }
/* stage end*/

/* image start*/
 .img-sec{
   position: relative;
   width:100%;
   height:100%;
   background-color: #ddd;
   overflow: hidden;
   perspective: 1800px;

   @at-root {
     .img-figure{
       position: absolute;
       width:310px;
       height: 390px;
       margin:0;
       padding: 30px 30px 70px;
       //overflow: hidden;
       background-color: #fff;

       box-sizing: border-box;
       transform-style: preserve-3d;
       transition:transform .6s ease-in-out, left .6s ease-in-out,top .6s ease-in-out;

       transform-origin: 0 50% 0;

       &.is-inverse{
         transform: translate(310px) rotateY(180deg);

       }
       img{
         width: 100%;
         height:100%;
       }
     }
     figcaption{
       text-align: center;

       .img-title{
         margin: 20px 0 0 0;
         color: #a7a0a2;
         font-size: 16px;
       }

       .img-back{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #fff;
         padding: 30px;
         box-sizing: border-box;
         text-align: left;
         line-height: 1.6;
         color: #a7a0a2;
         transform: rotateY(180deg) translateZ(1px);//translateZ用于修复苹果浏览器的BUG
         backface-visibility: hidden;

       }
     }

   }
 }
/* image end*/

/* contorller start*/
.contorllter-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align:center;

  @at-root {
    .contorller-init{
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      text-align: center;
      background-color: #aaa;
      border-radius: 50%;
      cursor: pointer;
      transform: scale(.5);
      vertical-align: middle;
      transition: transform .6s ease-in-out, background-color .3s;

      &.is-center{
        background-color: #888;
        transform: scale(1);

        &::after{
          font-family:"icon" !important;
          font-size:16px;font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          color: #fff;
          content: '\e645';
          line-height: 30px;
        }
      }
      &.is-inverse{
        transform: rotateY(180deg);
        background-color: #555;
      }
    }
  }
}
/* contorller end*/
